/* make the customizations */
$theme-colors: (
    "primary": #e44d26,
    "secondary": #bdbdbd,
    "darkDeep": #000000,
    "dark": #333333,
    "dark1": #4f4f4f,
    "dark2": #808080,
);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px,
    xxxl: 1600px,
) !default;

/* import bootstrap to set changes */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
@import "~bootstrap/scss/bootstrap";
@import "~material-design-icons/iconfont/material-icons";

// $primary-color: #00a0c6;
// $dark: #000;

::-webkit-scrollbar {
    width: 4px; /* width of the entire scrollbar */
}
::-webkit-scrollbar-track {
    background: #eeeeee; /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
    background-color: #000000; /* color of the scroll thumb */
    border-radius: 0px; /* roundness of the scroll thumb */
    border: 0; /* creates padding around scroll thumb */
}

html {
    scroll-behavior: smooth;
    min-height: 100%;
}
body {
    font-family: "Mulish", sans-serif;
    font-size: 15px;
}
* {
    outline: none !important;
}

a {
    transition: ease 0.3s;
    text-decoration: none !important;
}
button {
    transition: ease 0.3s;
}
.bottom-0 {
    bottom: 0;
}
.left-0 {
    left: 0;
}
.top-0 {
    top: 0;
}

.rounded-8 {
    border-radius: 8px;
}

header {
    z-index: 100;
}

.heroBanner {
    padding: 80px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homeCoupleBtn {
    background-color: #bdbdbd;
    .btn {
        border-radius: 8px;
    }
}

.sideMenuWrap {
    left: -250px;
    top: 0;
    width: 250px;
    z-index: 102;
    transition:ease 0.3s;
    &.active {
        left: 0;
    }
}
.sideMenuWrapMask {
    background-color: rgba(#000000, 0.7);
    z-index: 101;
    opacity: 0;
    pointer-events: none;
    transition:ease 0.3s;
    &.active {
        opacity: 1;
        pointer-events: all;
        cursor: pointer;
    }
}
